---
// Code for modal interaction inspiration:
// https://codepen.io/web_walking_nak/pen/abjbNOL

import { type CollectionEntry, getEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  galleryid: string;
  gallery?: CollectionEntry<"galleries">;
}

const { galleryid } = Astro.props;

const gallery = await getEntry("galleries", galleryid);
const images = gallery ? gallery.data.images : [];
---

<h1>Hybrid Main</h1>

<div>
  <ul class="thumbnails">
    {
      images.map((i) => (
        <li class="thumbnail">
          <button data-open-modal>
            <Image
              src={i.src}
              alt={JSON.stringify(i.alt)}
              widths={[180, 400, 600]}
              sizes={`(max-width: 260px)180px, (max-width: 520px) 400px,  600px`}
              quality={40}
              loading={"eager"}
            />
          </button>
        </li>
      ))
    }
  </ul>
</div>
<dialog data-modal>
  XXXX

  <section class="modish">
    <section id="main-carousel" class="splide" aria-label="Beautiful Images">
      <div class="splide__track">
        <ul class="splide__list">
          {
            images.map((photo, index) => (
              <li class="splide__slide">
                <div class="slide__image">
                  <Image
                    src={photo.src}
                    alt={JSON.stringify(photo.alt)}
                    widths={[400, 800, 1200, 1600, 2000]}
                    sizes={`(max-width: 500px) 400px, (max-width: 900px) 800px, (max-width: 1300px) 1200px, 2000px`}
                    quality={40}
                    loading={"eager"}
                  />
                </div>
                <div class="slide__text">
                  <p class="slide__title">
                    {index + 1}. <b>{photo.title}</b>
                  </p>
                  <p class="slide__description">{photo.description}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </section><h3>Thumbs</h3>
    <!-- Thumbnail Carousel -->
    <section
      id="thumbnail-carousel"
      class="splide"
      aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
    >
      <div class="splide__track">
        <ul class="splide__list">
          {
            images.map((i) => (
              <li class="splide__slide">
                <Image
                  src={i.src}
                  alt={JSON.stringify(i.alt)}
                  widths={[180]}
                  quality={40}
                  loading={"eager"}
                />
              </li>
            ))
          }
        </ul>
      </div><h3>Ends</h3>
    </section>
  </section>
</dialog>
<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";
  document.addEventListener("DOMContentLoaded", function () {
    var main = new Splide("#main-carousel", {
      type: "fade",
      rewind: true,
      pagination: false,
      arrows: false,
    });

    var thumbnails = new Splide("#thumbnail-carousel", {
      fixedWidth: 100,
      fixedHeight: 60,
      gap: 10,
      rewind: true,
      pagination: false,
      isNavigation: true,
      breakpoints: {
        600: {
          fixedWidth: 60,
          fixedHeight: 44,
        },
      },
    });

    main.sync(thumbnails);
    main.mount();
    thumbnails.mount();
  });
</script>
<style lang="scss">
  .splide__slide img {
    width: 100%;
    height: auto;
  }
  .modish {
    max-height: 70vh;
    background-color: pink;
  }
  #main-carousel {
    max-height: 600px;
    height: 600px;
  }
  .slide__image {
    background-color: bisque;
    height: 500px;
  }
</style>
