---
// Code for modal interaction inspiration:
// https://codepen.io/web_walking_nak/pen/abjbNOL

import { type CollectionEntry, getEntry } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props {
  galleryid: string;
  gallery?: CollectionEntry<"galleries">;
}

const { galleryid } = Astro.props;

const gallery = await getEntry("galleries", galleryid);
const images = gallery ? gallery.data.images : [];
---

<p>
  Add padding option to image (for aesthetic), and account for navigation space
</p>

<section class="">
  <ul class="thumbnails">
    {
      images.map((i) => (
        <li class="thumbnail">
          <button data-open-modal>
            <Image
              src={i.src}
              alt={i.alt}
              widths={[180, 400, 600]}
              sizes={`(max-width: 260px)180px, (max-width: 520px) 400px,  600px`}
              quality={40}
              loading={"eager"}
              format={"avif"}
            />
          </button>
        </li>
      ))
    }
  </ul>
</section>

<!-- Modal Dialogue With Larger Images-->
<dialog data-modal>
  <!-- Splide main carousel -->
  <section id="image-carousel" class="splide slide-grid">
    <div class="splide__track">
      <ul class="splide__list">
        {
          images.map((i, index) => (
            <li class="splide__slide">
              <figure class="slide__wrapper">
                <Image
                  src={i.src}
                  alt={i.alt}
                  widths={[400, 800, 1200, 1600, 2000]}
                  sizes={`(max-width: 500px) 400px, (max-width: 900px) 800px, (max-width: 1300px) 1200px, 2000px`}
                  quality={40}
                  format={"avif"}
                  loading={"eager"}
                />
                <figcaption>
                  <p class="slide__title">
                    {index + 1}. <b>{i.title}</b>
                  </p>
                  <p class="slide__description">{i.description}</p>
                </figcaption>
              </figure>
            </li>
          ))
        }
      </ul>
    </div>
    <button class="btn-left" type="button" aria-label="previous slide"
      ><Icon name="mdi:chevron-left" />
    </button>
    <button data-close-modal class="btn-close">
      <Icon name="mdi:close-circle" />
    </button>
    <button class="btn-right" type="button" aria-label="next slide"
      ><Icon name="mdi:chevron-right" />
    </button>
    <ul class="splide__pagination"></ul>
  </section>
</dialog>

<style lang="scss">
  :root {
    --thumbw: var(--size-fluid-8);
    --thumbwmin: var(--size-fluid-7);
  }
  @media screen and (width< 580px) {
    :root {
      --thumbw: var(--size-fluid-7);
      --thumbwmin: var(--size-fluid-5);
    }
  }
  [data-icon] {
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: green;
    }
  }
  .thumbnails {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
    background: var(--stone-7);
  }
  .thumbnail {
    list-style: none;
    max-width: var(--thumbw);
    min-width: var(--thumbwmin);
    button {
      padding: 0;
      margin: 0;
      border: 0;
      background: none;
      &:hover {
        cursor: pointer;
      }
      img {
        border: 1px solid hsla(0, 0%, 0%, 0.688);
      }
    }
  }

  dialog {
    border: 0;
    height: 100vh;
    padding: 0;
    margin: 4;

    button {
      display: block;
      border: none;
    }
  }
  dialog:modal {
    max-width: 100vw;
    max-height: 100vh;
  }
  dialog::backdrop {
    // background: oklch(var(--dark) / 90%);
    // background: rgba(255, 0, 0, 0.357);
    // backdrop-filter: blur(10px);
  }
  .splide {
    margin: auto;
  }
  .slide-grid {
    max-height: 100vh;
    // background-color: var(--teal-3);
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-areas:
      "lhst null rhst"
      "lhsm slide rhsm"
      "lhsl pagination rhsl";
  }

  .splide__track {
    grid-area: slide;
  }
  .slide__wrapper {
    background: var(--orange-3);
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
      "slide-image"
      "slide-text";
  }
  figcaption {
    grid-area: slide-text;
    background: var(--blue-3);
    max-width: 70ch;
    margin-inline: auto;
  }
  .splide__list {
  }

  .btn-close {
    grid-area: rhst;
    [data-icon] {
      // left: -2rem;
    }
  }
  .btn-left {
    grid-area: lhsm;
  }
  .btn-right {
    grid-area: rhsm;
  }
  @media (width > 580px) {
    body {
      // background-color: pink;
    }
    .splide__slide {
      // Use --_lines for number of lines of text reserved for description
    }
  }
</style>

<!-- Modal Control -->
<script>
  // Define types for elements and events
  interface ModalElement extends HTMLElement {
    showModal: () => void;
    close: () => void;
  }

  // Query selectors
  const openButtons =
    document.querySelectorAll<HTMLElement>("[data-open-modal]");
  const closeButton = document.querySelector<HTMLElement>("[data-close-modal]");
  const modal = document.querySelector<ModalElement>("[data-modal]");

  // Add event listeners
  openButtons.forEach((button) => {
    button.addEventListener("click", () => {
      if (modal) {
        modal.showModal();
      }
    });
  });

  if (closeButton && modal) {
    closeButton.addEventListener("click", () => {
      modal.close();
    });
  }
</script>
<!-- Splide Control -->
<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";

  // Define types for elements and Splide options
  interface ThumbnailElement extends Element {
    addEventListener(
      type: string,
      listener: EventListenerOrEventListenerObject,
      options?: boolean | AddEventListenerOptions
    ): void;
  }

  interface SplideOptions {
    type: string;
    rewind: boolean;
    arrows: boolean;
    speed: number;
  }

  // Initialize Splide
  const slideSpeed: number = 400;
  const splideOptions: SplideOptions = {
    type: "fade",
    rewind: true,
    arrows: false,
    speed: slideSpeed,
  };
  const splide = new Splide("#image-carousel", splideOptions);

  // Collect LI elements
  const thumbnails = document.getElementsByClassName("thumbnail");

  // Initialize each thumbnail
  for (let i = 0; i < thumbnails.length; i++) {
    const thumbnail = thumbnails[i] as ThumbnailElement;
    initThumbnail(thumbnail, i);
  }

  // Declare current
  let current: ThumbnailElement | null = null;

  // Function to initialize each thumbnail
  function initThumbnail(thumbnail: ThumbnailElement, index: number) {
    thumbnail.addEventListener("click", () => {
      if (splide) {
        splide.go(index);
      }
    });
  }

  // Event listener for Splide events
  splide.on("mounted move", () => {
    const thumbnail = thumbnails[splide.index] as ThumbnailElement;

    if (thumbnail) {
      if (current) {
        current.classList.remove("is-active");
      }

      thumbnail.classList.add("is-active");
      current = thumbnail;
    }
  });

  // Mount Splide
  splide.mount();

  // Custom button event listeners
  const prevButton = document.querySelector<HTMLButtonElement>(".btn-left");
  const nextButton = document.querySelector<HTMLButtonElement>(".btn-right");

  if (prevButton && nextButton) {
    prevButton.addEventListener("click", () => {
      splide.go("<"); // Go to the previous slide
    });

    nextButton.addEventListener("click", () => {
      splide.go(">"); // Go to the next slide
    });
  }

  // Add event listener for keydown events
  document.addEventListener("keydown", function (event) {
    if (event.key === "ArrowLeft") {
      splide.go("-1"); // Go to previous slide
    } else if (event.key === "ArrowRight") {
      splide.go("+1"); // Go to next slide
    }
  });
</script>
